<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headtags">
<title>Yet Another Reporting Tool</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/resources/css/semantic.min.css}" />
<link rel="stylesheet" th:href="@{/resources/css/kube.css}" />
<link rel="stylesheet" th:href="@{/resources/css/w3.css}" />
<link rel="stylesheet" th:href="@{/resources/css/w3-blue-grey.css}" />
<link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}" />
<link rel="stylesheet" th:href="@{/resources/css/main.css}" />

<script th:src="@{/resources/js/jquery.js}" />
<script th:src="@{/resources/js/semantic.min.js}" />
<script th:src="@{/resources/js/main.js}" />
</head>
<body>


</body>
</html>